{% extends 'base.html.twig' %}

{% block title %}Inscription | Karma{% endblock %}

{% block body %}
{{ include ("partials/breadcrumbs.html.twig",{'name':'Incription'}) }}
<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="../../assetstyle/img/banner/login.jpg" alt="">
						<div class="hover">
							<h4>Déjà un compte ?</h4>
							<p>Des avancées scientifiques et technologiques sont réalisées chaque jour, et un bon exemple en est la.</p>
							<a class="primary-btn" href="{{path('app_login')}}">Se connecter</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Inscription</h3>
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}

                        {{ form_start(registrationForm, {'attr' : {'class':'row login_form'}}) }}
							<div class="col-md-12 form-group">
                                {{ form_row(registrationForm.name) }}
							</div>
							<div class="col-md-12 form-group">
                                {{ form_row(registrationForm.firstname) }}
							</div>
							<div class="col-md-12 form-group">
                                {{ form_row(registrationForm.email) }}
							</div>
							<div class="col-md-12 form-group">
                                {{ form_row(registrationForm.password) }}
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
                                    {{ form_row(registrationForm.agreeTerms) }}
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" class="primary-btn">Soumettre</button>
							</div>
                            {{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
