{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
{{ include ("partials/breadcrumbs.html.twig",{'name':'Réinitialiser mot de passe'}) }}
<div class="row mt-5">
    <div class="shadow login_form_inner col-md-6 mb-5 mx-auto">
        <h1 class="mt-5 mb-5 text-center">Réinitialiser votre mot de passe</h1>
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <small>
            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </small>
        {{ form_start(requestForm, {'attr' : {'class':'row login_form'}}) }}
            
            <div class="col-md-12 form-group">
                {{ form_row(requestForm.email) }}
            </div>
            <div class="col-md-12 form-group">
                <button type="submit" class="primary-btn">Soumettre</button>
            </div>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
